Repository jbedard/html-insert-assets: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix --env=jasmine

chore(*): upgrade dependencies
  yarn.lock
Due: none

0.8.0
  CHANGELOG.md
  package.json
Due: none

chore(*): upgrade dev dependencies
  yarn.lock
Due: none

test(*): reorganize and enhance tests
  test/spec.js
Due: eslint --fix --env=jasmine

refactor(*): extract asset insertion into isolated functions
  src/main.js
  test/spec.js
Due: eslint --fix, eslint --fix --env=jasmine

feat(preload): add support for preload requests
  README.md
  src/main.js
  test/spec.js
Due: eslint --fix, eslint --fix --env=jasmine

test(*): use real fs.read in tests
  src/main.js
  test/data/index-template.html
  test/spec.js
Due: eslint --fix, eslint --fix --env=jasmine

feat(stamp): add various stamping options:
  README.md
  src/main.js
  test/data/assets/alert.js
  test/data/assets/answer.mjs
  test/data/assets/github.ico
  test/data/assets/reset.css
  test/spec.js
Due: eslint --fix, eslint --fix --env=jasmine

refactor(stamping): default to stamping by hash
  src/main.js
  test/spec.js
Due: eslint --fix, eslint --fix --env=jasmine

0.9.0
  CHANGELOG.md
  package.json
Due: none

feat(cli): provide npm package bin entry for running via cli
  bin/html-insert-assets
  package.json
  src/main.js
  src/run.js
Due: eslint --fix

chore(*): upgrade build tools
  package.json
  yarn.lock
Due: none

chore(*): upgrade parse5
  package.json
  yarn.lock
Due: none

v0.10.0
  CHANGELOG.md
  package.json
Due: none

Fix typo
  src/main.js
Due: eslint --fix

chore(*): fix typo (#12)
  src/main.js
Due: eslint --fix

chore(*): add typescript type-checking via jsdoc
  package.json
  src/main.js
  src/run.js
  test/spec.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, eslint --fix --env=jasmine

chore(*): do not publish test + config files to npm
  .npmignore
Due: none

refactor(*): ensure package name is included in all thrown errors
  src/main.js
Due: eslint --fix

build(*): upgrade dependencies
  package.json
  yarn.lock
Due: none

refactor(*): make consistent use of backticks, substring
  src/main.js
Due: eslint --fix

chore(*): convert project to typescript
  .eslintignore
  .eslintrc.json
  .npmignore
  bin/html-insert-assets
  package.json
  src/main.ts
  src/run.ts
  test/spec.ts
  tsconfig.json
  yarn.lock
Due: none

0.11.0-beta.0
  package.json
Due: none

fix(*): fix crash when used with html5 doctype
  src/main.ts
  test/data/index-html5-template.html
  test/spec.ts
Due: none

0.11.0-beta.1
  package.json
Due: none

chore(*): clean before publishing
  package.json
Due: none

style(*): fix lint errors
  .eslintrc.json
  .lintstagedrc
  .prettierrc.json
  package.json
  src/main.ts
  test/spec.ts
  test/tsconfig.json
Due: none

build(*): enable ts no* options
  test/tsconfig.json
  tsconfig.json
Due: none

refactor(*): separate cli arg parsing vs asset processing
  src/main.ts
  test/spec.ts
Due: none

chore(*): update build tools
  yarn.lock
Due: none

feat(script): add --script for specifying script specific details
  src/main.ts
  test/spec.ts
Due: none

v0.11.0
  package.json
Due: none

chore(*): update changelog with v0.11.0 changes
  CHANGELOG.md
Due: none

chore(*): update dev deps
  yarn.lock
Due: none

docs(*): fix readme markdown, typos
  README.md
Due: none

feat(favicon): add --favicons for specifying favicons
  src/main.ts
  test/spec.ts
Due: none

feat(stylesheets): add --stylesheets for specifying stylesheets
  src/main.ts
  test/spec.ts
Due: none

Path conditions:
  eslint --fix: any of: src/*.js
  eslint --fix --env=jasmine: any of: test/*.js
